<!-- 
 Issue: The connection number should be formed into regular expression for local phone provider.

Fix: Refine phone number validation pattern and placeholder

- Updated the regex pattern to ensure phone numbers start with a country code, followed by the correct number of digits.
- Changed the placeholder text in the phone number input field to guide users to enter the phone number in the correct format. 
-->
<div class="page-container">
  <!-- Main Content -->
  <div class="mobile-container">
    <div class="safe-area">
      <!-- Header -->
      <div class="header">
        <h1 class="text-2xl font-bold">Növbə sistemi</h1>
      </div>

      <!-- Appointments Counter -->
      <div class="appointments-counter">
        <div class="stats-card">
          <div class="counter-content">
            <div class="counter-info">
              <span class="label">Cari növbə</span>
              <div class="numbers">
                <span class="current">{{ currentAppointments }}</span>
                <span class="separator">/</span>
                <span class="max">{{ maxDailyAppointments }}</span>
              </div>
            </div>
            <div class="progress-bar">
              <div
                class="progress"
                [style.width.%]="
                  (currentAppointments / maxDailyAppointments) * 100
                "
              ></div>
            </div>
          </div>
        </div>
      </div>

      <!-- Calendar Section -->
      <div class="calendar-section">
        <p-calendar
          [(ngModel)]="date"
          [inline]="true"
          [showWeek]="false"
          [numberOfMonths]="1"
          [showOtherMonths]="false"
          styleClass="w-full modern-calendar"
          [minDate]="minDate"
          [maxDate]="maxDate"
          (onSelect)="onDateSelect($event)"
          dateFormat="dd.mm.yy"
          [disabledDays]="disabledDays"
        >
        </p-calendar>
      </div>
    </div>
  </div>

  <!-- Time Slots Bottom Sheet -->
  <div class="time-slots-bottom-sheet" *ngIf="date">
    <div class="time-slots-container">
      <div class="time-slots-header">
        <div class="close-button" (click)="closeTimeSlots()">
          <i class="pi pi-times"></i>
        </div>
        <h2 class="text-lg font-semibold text-primary-500">Mümkün vaxtlar</h2>
        <div class="handle"></div>
      </div>
      <ng-container *ngIf="!isLoadingTimeSlots; else loadingSlots">
        <ng-container *ngIf="timeSlots.length > 0; else nothingAvailable">
          <div class="time-slots-grid">
            <button
              *ngFor="let slot of timeSlots"
              class="time-slot"
              [class.selected]="
                selectedTimeSlot?.appointmentHour === slot.appointmentHour
              "
              (click)="selectTimeSlot(slot)"
            >
              {{ slot.appointmentHour }}
            </button>
          </div>
        </ng-container>
        <ng-template #nothingAvailable>
          <div class="flex justify-center items-center p-4">
            <p class="text-red-500">Bu gün üçün vaxt seçimi yoxdur</p>
          </div>
        </ng-template>
      </ng-container>

      <ng-template #loadingSlots>
        <div class="flex justify-center items-center p-4">
          <i class="pi pi-spin pi-spinner text-primary-500 text-2xl"></i>
        </div>
      </ng-template>
    </div>
  </div>

  <!-- Add this after the time slots bottom sheet -->
  <p-dialog
    [(visible)]="showBookingDialog"
    [modal]="true"
    header="Növbəni təsdiqlə"
    [closeOnEscape]="true"
    [dismissableMask]="true"
    styleClass="booking-dialog"
    [draggable]="false"
  >
    <div class="booking-form p-3 overflow-y-auto max-h-[60vh]">
      <div class="form-field mb-2">
        <label for="firstName" class="mb-0.5 text-xs">Ad *</label>
        <input
          id="firstName"
          type="text"
          pInputText
          [(ngModel)]="bookingForm.firstName"
          required
          #firstName="ngModel"
          class="w-full !p-1.5 !rounded-none !text-sm !border-0 !border-b-2 !border-gray-200 focus:!border-primary-500"
        />
        <small
          class="text-red-500 text-xs"
          *ngIf="firstName.invalid && (firstName.dirty || firstName.touched)"
        >
          Ad daxil edilməlidir
        </small>
      </div>

      <div class="form-field mb-2">
        <label for="lastName" class="mb-0.5 text-xs">Soyad *</label>
        <input
          id="lastName"
          type="text"
          pInputText
          [(ngModel)]="bookingForm.lastName"
          required
          #lastName="ngModel"
          class="w-full !p-1.5 !rounded-none !text-sm !border-0 !border-b-2 !border-gray-200 focus:!border-primary-500"
        />
        <small
          class="text-red-500 text-xs"
          *ngIf="lastName.invalid && (lastName.dirty || lastName.touched)"
        >
          Soyad daxil edilməlidir
        </small>
      </div>

      <div class="form-field mb-2">
        <label for="phoneNumber" class="mb-0.5 text-xs">Əlaqə nömrəsi *</label>
        <div class="flex items-center">
          <span class="!p-1.5 text-sm text-gray-500 bg-gray-50">+994</span>
          <input
            id="phoneNumber"
            type="text"
            pInputText
            [(ngModel)]="bookingForm.phoneNumber"
            required
            #phone="ngModel"
            class="w-full !p-1.5 !rounded-none !text-sm !border-0 !border-b-2 !border-gray-200 focus:!border-primary-500"
            pattern="(?:50|51|55|70|77)[0-9]{7}"
            maxlength="9"
            (keypress)="onlyNumbers($event)"
            placeholder="XXXXXXXXX"
          />
        </div>
        <small
          class="text-red-500 text-xs"
          *ngIf="phone.invalid && (phone.dirty || phone.touched)"
        >
          Əlaqə nömrəsi daxil edilməlidir
        </small>
      </div>

      <div class="field">
        <label for="sex" class="mb-0.5 text-xs">Cins *</label>
        <select
          id="sex"
          [(ngModel)]="bookingForm.sex"
          required
          #sex="ngModel"
          class="w-full p-2 border border-gray-300 rounded-md focus:border-primary-500 focus:ring-2 focus:ring-primary-500"
        >
          <option value="">Seçin</option>
          <option *ngFor="let option of sexOptions" [value]="option.value">
            {{ option.label }}
          </option>
        </select>
        <small
          class="text-red-500 text-xs"
          *ngIf="sex.invalid && (sex.dirty || sex.touched)"
        >
          Cins seçilməlidir
        </small>
      </div>

      <div class="form-field mb-2">
        <label for="comment" class="mb-0.5 text-xs">Qeyd</label>
        <textarea
          id="comment"
          pInputTextarea
          [(ngModel)]="bookingForm.comment"
          [rows]="2"
          class="w-full !p-1.5 !rounded-none !text-sm !border-0 !border-b-2 !border-gray-200 focus:!border-primary-500 resize-none"
        ></textarea>
      </div>
    </div>

    <div class="flex justify-end gap-4 px-4 pb-4">
      <p-button
        label="Təsdiqlə"
        styleClass="!bg-green-700 hover:!bg-green-800 !border-green-700 hover:!border-green-800 !text-white !px-6 !py-2 !rounded-lg"
        (click)="submitBooking()"
        [loading]="isSubmitting"
        [disabled]="
          firstName.invalid ||
          lastName.invalid ||
          phone.invalid ||
          !bookingForm.sex ||
          isSubmitting
        "
      ></p-button>
    </div>
  </p-dialog>
</div>

<p-toast position="top-center"></p-toast>
